


<div id="submainleft">

<div class="vote_incentive">
Votez un article pour le faire monter dans la page.
</div>





<% @tensoon.each do |f| %>
<% div_for f do %>





<div class="storyright">

<div class="storytitre">

<a href="/<%=f.id.to_s + f.prettytitre %>"><%=f.titre %></a>

</div>


<div id="avinfos">

<div id="avatar" >
<%= image_tag "cat_#{f.category}48.png" %>
</div>

<div class="infos">
<%= "Posté par " %><a href="/users/show/<%= f.poster %>" rel="nofollow"><%= f.poster %></a>
<%= "il y a " + time_ago_in_words(f.created_at)  %><br/>
<%= "Source: "%><a href="<%= f.url %>"><%= f.source %></a><br/>


<%= "Catégorie: " %><a href="/?cat1=Home&cat2=<%= URI.escape(f.category) %>"><%= f.category %></a>

</div>

</div>

<div class="snip">
<%= f.snip + "&nbsp; <a href='#{f.id.to_s + f.prettytitre}'>suite</a> " %>
</div>


<ul class="comms">





<li><span class="infos">Score:</span></li>
<li><span id= <%= '"vote' + f.id.to_s + '">' %><span class="score"><%= f.votesnb %></span></span></li>
<li>=></li>
<li><span id=<%= '"votelink' + f.id.to_s + '"' %> class="votehighlight">
<a href="#" onclick="new Ajax.Request('/votes/vote?story_id=<%=f.id.to_s%>', {asynchronous:true, evalScripts:true, onLoaded:function(request){$('loading<%=f.id.to_s%>').hide();}, onLoading:function(request){$('loading<%=f.id.to_s%>').show();}, parameters:'authenticity_token=' + encodeURIComponent('1RIoVZEKhS7+X103H1voFXmi8CKXmIznFOQvg3QJ7rI=')}); _gaq.push(['_trackEvent', 'Vote', 'Clic', 'Lien texte home']); return false;">Voter</a></span></li>
      <li>   <%= image_tag "ajax-loader.gif", :style => "display: none;", :id => "loading#{f.id}" %></li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>

<li><img alt="Comments-32" src="/images/Comments-32.png?1284398459" /></li> 

<li><span class="nbcomms">
<% if f.comments.size > 0 %>
<a href="/<%=f.id.to_s + f.prettytitre %>"><%= f.comments.size  %> Commentaires</a>
<% else %>
<a href="/<%=f.id.to_s + f.prettytitre %>">Commenter</a>
<% end %>
</span></li>

</ul>



<div class="bz">
<a title="Publier sur Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post?url=<%= f.bzurl %>" data-button-style="small-button" data-locale="fr"></a>
<script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
</div>

<div class="tw">
<a href="http://twitter.com/share?url=<%= f.twurl %>" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

<div class="fb">
<iframe src="http://www.facebook.com/plugins/like.php?locale=fr_FR&href=<%= f.fburl %>&amp;layout=button_count&amp;show_faces=true&amp;width=50&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:25px;" allowTransparency="true"></iframe>
</div>

<div class="storybottom">
</div>

</div>



<% end %>
<% end %>

<%= will_paginate @tensoon %>

<br/>




