<div id="submainleft">
<div class="vote_incentive">
Votez un article pour le faire monter dans la page.
</div>
<% div_for @story do %>


<div class="storyright">

<div class="storytitre">
<%= link_to "#{@story.titre}" , @story.url %>
</div>


<div id="avinfos">

<div id="avatar" >
<%= image_tag "cat_#{@story.category}48.png" %>
</div>

<div class="infos">
<%= "Posté par " %><a href="/users/show/<%= @story.poster %>" rel="nofollow"><%= @story.poster %></a> <%= l @story.created_at  %><br/>
<%= "Source: "%><%= link_to @story.source , @story.url  %><br/>
<%= "Catégorie: " %><a href="/?cat1=Home&cat2=<%= URI.escape(@story.category) %>"><%= @story.category %></a>
</div>

</div>

<div class="snip">
<%= @story.snip + "&nbsp; <a href='#{@story.url}'>Lire</a>" %>
</div>


<ul class="comms">
<li><span class="infos">Score:</span></li>
<li><span id= <%= '"vote' + @story.id.to_s + '">' %><span class="score"><%= @story.votesnb %></span></span></li>
<li>=></li>
<li><span id=<%= '"votelink' + @story.id.to_s + '"' %> class="votehighlight">
<a href="#" onclick="new Ajax.Request('/votes/vote?story_id=<%=@story.id.to_s%>', {asynchronous:true, evalScripts:true, onLoaded:function(request){$('loading<%=@story.id.to_s%>').hide();}, onLoading:function(request){$('loading<%=@story.id.to_s%>').show();}, parameters:'authenticity_token=' + encodeURIComponent('1RIoVZEKhS7+X103H1voFXmi8CKXmIznFOQvg3QJ7rI=')}); _gaq.push(['_trackEvent', 'Vote', 'Clic', 'Lien texte article']); return false;">Voter</a></span></li>
<li>   <%= image_tag "ajax-loader.gif", :style => "display: none;", :id => "loading#{@story.id}" %></li>
<li>&nbsp;</li>
<li>&nbsp;</li>
<li>&nbsp;</li>

<li><img alt="Comments-32" src="/images/Comments-32.png?1284398459" /></li> 

<li><span class="nbcomms">
<% if @story.comments.size > 0 %>
<a href="/<%=@story.id.to_s + @story.prettytitre %>"><%= @story.comments.size  %> Commentaires</a>
<% else %>
<a href="/<%=@story.id.to_s + @story.prettytitre %>">Commenter</a>
<% end %>
</span></li></ul>



<div class="bz">
<a title="Publier sur Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post?url=<%= @story.bzurl %>" data-button-style="small-button" data-locale="fr"></a>
<script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
</div>

<div class="tw">
<a href="http://twitter.com/share?url=<%= @story.twurl %>" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

<div class="fb">
<iframe src="http://www.facebook.com/plugins/like.php?locale=fr_FR&href=<%= @story.fburl %>&amp;layout=button_count&amp;show_faces=true&amp;width=50&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:25px;" allowTransparency="true"></iframe>
</div>

<div class="storybottom">
</div>

</div>



<% end %>

<div id="msg" style="display:none;">
</div>



<%= render :partial => "comments/poster"  %>


</div>
<br/>



