<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head> 
<title><%=  truncate(@title, :length => 70)  %></title>
<META NAME="Description" CONTENT="<%=  truncate(@desc, :length => 170)  %>">
<% noindex %><%=  @noindex  %> 
<% if @canonical %>
<%= @canonical %>
<% end %>
<meta name="google-site-verification" content="425YNCsgzCeHYBe4rLyO6tPtl8tVZyLNzDNtcLNfp3Y" />
<%=  stylesheet_link_tag "tensoon.css"  %> 
<%= javascript_include_tag "protaculous.js" %> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4676001-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="gradient">

<div id="main">

<div id ="top">

<ul id="formats">
<span style="color:#EF7114;"> <%= flash[:message] %></span>
<% unless current_user %>
<li><a href="/users/signup">Créer un compte</a></li>
<li><a href="/sessions/login">S'identifier</a></li>
<li><a href="/stories/poster">Poster un article</a></li>
<% end %>

<% if current_user %>
<span style="color:#EF7114;"><%= "Identifié en tant que #{@current_user}" %></span>
<li><a href="/sessions/logout">Déconnexion</a></li>
<li><a href="/stories/poster">Poster un article</a></li>
<% end %>

</ul>





<div id="logo">
<%= link_to image_tag("logo-v4.png") , root_url %>
<div id="adsensetop">
<script type="text/javascript"><!--
google_ad_client = "pub-3056166360227335";
/* 468x15, date de création 10/09/10 */
google_ad_slot = "1698138976";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<br/><br/>
</div>




<div class="invertedshiftdown">
<ul>
<% menu = Array["Home","Dernières Actus","Poster un article","Mon Compte","FAQ"] %>
<li <%= 'class="current"' if @current == menu[0] %>> <a href="/">Home</a></li>
<li <%= 'class="current"' if @current == menu[1] %>> <a href="/?cat1=Derni%C3%A8res+Actus">Dernières Actus</a></li>
<li <%= 'class="spec"' if @current == menu[2] %>> <a href="/stories/poster">Poster un article</a></li>
<li <%= 'class="spec"' if @current == menu[3] %>> <a href="/moncompte">Mon Compte</a></li>
<li <%= 'class="spec"' if @current == menu[4] %>> <a href="/faq">FAQ</a></li>
</ul>
</div>







<ul class="submenu" 
<% if @current != menu[0] && @current != menu[1] %>
style="display:none;" 
<% end %>  
>

<% links = Array["SEO","PPC","Social Media","Analytics","Display","Usabilité","Affiliation"] %>
<% links.each do |f| %>
<% if f == @current2 %>

<% if @current == "Dernières Actus" %>
<li class="current"> <%= link_to f , :controller => "tensoon", :action => "index", :cat1 => "Dernières Actus" , :cat2 => f %></li>


<% else %>
<li class="current"> <%= link_to f , :controller => "tensoon", :action => "index", :cat1 => "Home" , :cat2 => f %></li>
<% end %>

<% else %>


<% if @current == "Dernières Actus" %>
<li><%= link_to f , :controller => "tensoon", :action => "index", :cat1 => "Dernières Actus" , :cat2 => f %></li>

<% else %>

<li><%= link_to f , :controller => "tensoon", :action => "index", :cat1 => "Home" , :cat2 => f %></li>
<% end %>


<% end %>
<% end %>
</ul> 

<div id="submainright">
<div id="adsense2">
<div id="moztxt">
<br/>
<a onclick="parent.location.href='http://go.seomoz.org/aff_c?offer_id=1&aff_id=1257&url_id=3&file_id=35';_gaq.push(['_trackEvent', 'Affiliation', 'Clic', 'Lien texte']);return event.returnValue=false;" target="_blank" href='http://go.seomoz.org/' rel="nofollow">SEOmoz PRO</a>
</div>
<div id="mozimg">
<a onclick="parent.location.href='http://go.seomoz.org/aff_c?offer_id=1&aff_id=1257&url_id=3&file_id=18';_gaq.push(['_trackEvent', 'Affiliation', 'Clic', 'Lien image']);return event.returnValue=false;" target="_blank" href="http://go.seomoz.org/" rel="nofollow"><img src="http://www.go2cdn.org/brand/files/seomoz/1/Logo-Only.180.150.png" width="180" height="150" border="0" /></a>
</div>
</div>
<div class="newstories">
<div class="headerlast10">Derniers articles</div>
<% @last10.each do |f| %>
<span class="latest_articles_icon">> </span><span class="latest_articles_links"><a href="/<%=f.id.to_s + f.prettytitre %>"><%= f.titre %></a></span><br/>
<% end %>
</div>






</div>



 
<%= yield %> 

</div>

</div>

</div>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "tensoon";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#599555";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

</body>
</html>
